[submodule "auth-ms-prueba-tecnica"]
	path = auth-ms-prueba-tecnica
	url = https://github.com/prueba-tecnica-trycode/auth-ms-prueba-tecnica.git
[submodule "client-gateway-prueba-tecnica"]
	path = client-gateway-prueba-tecnica
	url = https://github.com/prueba-tecnica-trycode/client-gateway-prueba-tecnica.git
[submodule "products-ms-prueba-tecnica"]
	path = products-ms-prueba-tecnica
	url = https://github.com/prueba-tecnica-trycode/products-ms-prueba-tecnica.git
